image:
  repository: nginx
  pullPolicy: IfNotPresent
  tag: ""

serviceAccount:
  create: true

service:
  type: ClusterIP
  port: 8080

ingress:
  enabled: false

httpRoute:
  enabled: false

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 256Mi

livenessProbe:
  httpGet:
    path: /-/healthy
    port: http
readinessProbe:
  httpGet:
    path: /-/ready
    port: http